<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hourly</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/h-icon">
    <link rel="icon" href="/favicon.ico" type="image/h-icon">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <!-- Css link -->
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>
<body>
    <div class="content-container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                    {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li id="logout"><a>Log Out</a></li>
                    {{else}}
                <li><a href="/login">Log In</a></li>
                    {{/if}}
            </ul>
        </nav>
        <main>
            {{{ body }}}
        </main>
    </div>
    <footer>
        <h3>Hourly</h3>
        <ul>
            <li><h3 id="footer-logo">Creators : </h3></li>
            <li><a class="creators" href="https://github.com/climbingryan" target="blank">Kevin</a></li>
            <li><a class="creators" href="https://github.com/j9210" target="blank">Julia</a></li>
            <li><a class="creators" href="https://github.com/fgutierrez2191" target="blank">Felix</a></li>
            <li><a class="creators" href="https://github.com/nlop3z" target="blank">Nelly</a></li>
            <li><a class="creators" href="" target="blank">Xavier</a></li>
        </ul>
    </footer>
    <script src="/javascript/signUp.js"></script>
    <script src="/javascript/signIn.js"></script> 
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>