    <!-- Above Main Tag -->
        {{> create-project}}
</section>
    <!-- Individual Projects -->
{{#if projects.length}}
{{#each projects as |project|}}
<section class="project">
    <h2>{{project.title}}</h2>
    <div class="project-dates">
        <p>Date Started: <span>{{project.date_started}}</span></p>
        <p>Date Ended: <span>{{project.date_ended}}</span></p>
    </div>
    <h5><a href="/hours">Edit Hours</a></h5>
</section>
{{/each}}
{{/if}}