
        {{> create-project}}

    <!-- Individual Projects -->

<section class="project">
    {{#if project.length}}
        {{#each project as |project|}}
        <h2>{{project.title}}</h2>
        <div class="project-dates">
            <p>Date Started: <span>{{project.date_started}}</span></p>
            <p>Date Ended: <span>{{project.date_ended}}</span></p>
        </div>
        <h5><a href="/hours">Edit Hours</a></h5>
        {{/each}}
    {{/if}}
</section>
