    <!-- Above Main Tag -->
<section class="create-project-handler">
    <h2>Create a Project</h2>
    <div class="create-project-link">
        <a href="./create-project.html">
            <i class='far fa-arrow-alt-circle-right' style='font-size:36px'></i>
        </a>
    </div>
</section>
    <!-- Individual Projects -->
<section class="project">
    <h2>Title</h2>
    <div class="project-dates">
        <p>Date Started: <span>1/10/21</span></p>
        <p>Date Ended: <span>2/21/21</span></p>
    </div>
    <h5><a href="/hours">Edit Hours</a></h5>
</section>