<div class="home-color-bg">
        <div class="intro-info">
            <h1>The Future of Hour Logging</h1>
                <p> Hourly was built with ease of use and scalability in mind and can be used<br/>
                  by a handful of employees to a team of hundreds. So stop reading and start<br/>
                  using Hourly today! Come join the future of hour tracking NOW!<br/>
                 <br/>
                
                </p>
        </div>
        <div class="sign-up-form">
            <h2>
                Sign Up for Free
            </h2>
            <form class="signUp-form">
                <div class="input-label-handler">
                    <label for="email-signUp">Email :</label>
                    <input type="email" id="email-signUp"/>
                </div>
                <div class="input-label-handler">
                    <label for="username-signUp">Username :</label>
                    <input type="text" id="username-signUp"/>
                </div>
                <div class="input-label-handler">
                    <label for="password-signUp">Password :</label>
                    <input type="password" id="password-signUp"/>
                </div>
                <div class="signup-btn-handler">
                    <button type="submit" id="sign-up">Sign Up</button>
                </div>
            </form>
        </div>
</div>

<script src="/javascript/signUp.js"></script>