<h2 class="header-title">{{project.title}} Hours</h2>
<div class="container-fluid"> 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
</div>  
<script src="/javascript/hours.js"></script>