<section class="sign-in-form-handler">
    <div class="signin-form-content">
        <h2>Welcome Back to Hourly</h2>
        <article class="sign-in-form">
            <input type="email" id="email-signIn" placeholder="Your Email"/>
            <input type="password" id="password-signIn" placeholder="Your Password"/>
            <button type="click" id="log-in">Sign In</button>
        </article>
    </div>
</section>

<script src="/javascript/signIn.js"></script> 