<section class="sign-in-form-handler">
    <h3>Welcome Back to Hourly</h3>
    <article class="sign-in-form">
        <input type="email" id="email-signIn" placeholder="Your Email"/>
        <input type="password" id="password-signIn" placeholder="Your Password"/>
        <button type="submit" id="log-in">Sign In</button>
    </article>
</section>
<script src="/public/javascript/"></script>