
<h2 class="header-title">{{project.title}}</h2>
<div class="container-fluid" id="{{hours.project_id}}"> 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Billable/Unbillable</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{hours.project_id}}</th>
      <td>
        <input type="time" id="start-time" name="start-time">
      </td>
      <td>
        <input type="time" id="end-time" name="end-time">
      </td>
      <td>
        <input type="text" id="hour-type" name="hour-type" list="hour-choice">
          <datalist id="hour-choice">
            <option value="billable"></option>
            <option value="unbillable"></option>
          </datalist>
      </td>
      <td>
        <button id="add-hours">ADD</button>
        <button id="delete-hours">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
</div>  

 <script src="/javascript/hours.js"></script>
